@mixin breakpoint($point) {
  @if $point == papa-bear {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == mama-bear {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == mobile {
    @media (max-width: 960px)  { @content; }
  }
}

@mixin customTransition($property, $duration, $easing, $delay) {
  @include transition-property($property);
  @include transition-duration($duration);
  @include transition-timing-function($easing); 
  @include transition-delay($delay);
}

@mixin triangleRight {
  width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid black;
}

@mixin animation($q) {
  -webkit-animation: $q;
  -moz-animation: $q;
  -o-animation: $q;
  -ms-animation: $q;
  animation: $q;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}