#theKiteStringTangle.padding.panelContent.js-panelContent
	%h1
		%perch:content{:id => 'artistName', :title => 'true', :type => 'text', :label => 'Artist Name'}

	%h2
		%perch:content{:id => 'artistBio', :title => 'true', :type => 'text', :label => 'Artist Bio'}

	%a{:href => 'https://www.facebook.com/RareFindsMusic', :target => '_blank'}
		.navLink
			.arrow
				.selector
			.linkName Soundcloud