!!! 5
%html
	%head
		%title= "Rare Finds"
		%meta{ :content => "MY DESCRIPTION", :name => "description" }
		%meta{ :content => "MY AUTHOR", :name => "author" }
		%meta{ :charset => "UTF-8" }
		%meta{ :name => "viewport", :content => "width=device-width" }
		%meta{ :name => "viewport", :content => "initial-scale=1" }
		%meta{ :name => "viewport", :content => "maximum-scale=1" }
		%link{ :href => "./css/main.css", :media => "screen", :rel => "stylesheet" }
		%script{:type => 'text/javascript', :data => {:main => 'js/main'}, :src => 'js/require.js'}
	%body.no-scroll

		#container.hidden
			/ #loader.lasso 
			/ 	%h2 Loading...

			%header
				#headerContainer.lasso
					#player
						<object class="lasso" height="20" width="100%"><param name="movie" value="https://player.soundcloud.com/player.swf?url=https%3A//api.soundcloud.com/playlists/9789061&amp;color=6d6d6d&amp;auto_play=false&amp;player_type=tiny"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="transparent"></param><embed wmode="transparent" allowscriptaccess="always" height="20" width="100%" src="https://player.soundcloud.com/player.swf?url=https%3A//api.soundcloud.com/playlists/9789061&amp;color=6d6d6d&amp;auto_play=false&amp;player_type=tiny"></embed></object>
					#socials
						%a{:href => 'https://soundcloud.com/rare-finds', :target => '_blank'}
							#soundcloud.socialLink
						%a{:href => 'https://twitter.com/rare_finds', :target => '_blank'}
							#twitter.socialLink
						%a{:href => 'https://www.facebook.com/RareFindsMusic', :target => '_blank'}
							#facebook.socialLink

			#content.lasso
				.panel#left
					#tagline.padding
						.lasso
							Rare Finds is a Record Label Based in Sydney.
					#nav.padding
						/nav links here
						.navLink.js-navLink{ :'data-context' => 'aboutUs'}
							.arrow
								.selector
							.linkName About Us
						.navLink.js-navLink{ :'data-context' => 'artists'}
							.arrow
								.selector
							.linkName Artists
						.navLink.js-navLink{ :'data-context' => 'contactUs'}
							.arrow
								.selector
							.linkName Contact Us
					#list
						%form.lasso.padding#js-emailForm
							%input#email{:type => 'email', :spellcheck => 'false', :autocomplete => 'false', :placeholder => 'Get Updates'}
							#emailSubmit
								.arrow

				.panel#right
					#picture
						#aboutUs.padding.featureImg.js-featureImg{:style => "background-image:url(./img/aboutUs.jpg)"}
						#artists.padding.featureImg.js-featureImg{:style => "background-image:url(./img/artists.jpg)"}
						#contactUs.padding.featureImg.js-featureImg{:style => "background-image:url(./img/contactUs.jpg)"}

						%img#aboutUs{:href => './img/aboutUs.jpg'}
						%img#artists{:href => './img/artists.jpg'}
						%img#contactUs{:href => './img/contactUs.jpg'}

					#content
						#aboutUs.padding.panelContent.js-panelContent
							%h1 About Us
							%h2 Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem 
						#artists.padding.panelContent.js-panelContent
							%h1 Artists

							/artist links here
							.navLink.js-navLink{ :'data-context' => 'theKiteStringTangle'}
								.arrow
									.selector
								.linkName Kite String
							.navLink.js-navLink{ :'data-context' => 'majorLeagues'}
								.arrow
									.selector
								.linkName Major Leagues

						#contactUs.padding.panelContent.js-panelContent
							%h1 Contact Us
							%h2 Lorem Lorem Lorem

						#theKiteStringTangle.padding.panelContent.js-panelContent
							%h1 The Kite String Tangle

							/Artist External Links don't require js-navLink or a data-context
							%a{:href => 'https://www.facebook.com/RareFindsMusic', :target => '_blank'}
								.navLink
									.arrow
										.selector
									.linkName Soundcloud
							%a{:href => 'https://www.facebook.com/RareFindsMusic', :target => '_blank'}
								.navLink
									.arrow
										.selector
									.linkName Facebook

						#majorLeagues.padding.panelContent.js-panelContent
							%h1 Major Leagues





			%footer
				#logo.lasso

			:javascript
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', YOUR_CODE']);
				_gaq.push(['_trackPageview']);
				(function() {
				var ga = document.createElement('script');
				ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();