<?php include('perch/runtime.php'); ?>
!!! 5
%html
	%head
		%title= "RARE FINDS | A record label based in Sydney."
		%meta{ :content => "Rare Finds is a Record Label Based in Sydney.", :name => "description" }
		%meta{ :content => "Rare Finds", :name => "author" }
		%meta{ :charset => "UTF-8" }
		%meta{ :name => "viewport", :content => "width=device-width" }
		%meta{ :name => "viewport", :content => "initial-scale=1" }
		%meta{ :name => "viewport", :content => "maximum-scale=1" }

		%meta{ :property => "og:title", :content => "RARE FINDS | A record label based in Sydney." }
		%meta{ :property => "og:type", :content => "website" }
		%meta{ :property => "og:image", :content => "http://www.rare-finds.com.au/img/fb-image.jpg" }
		%meta{ :property => "og:url", :content => "http://www.rare-finds.com.au" }
		%meta{ :property => "og:site_name", :content => "Rare Finds Australia" }

		%link{:rel => "icon", :type => "image/png", :href=> "./img/favicon.png" }

		%link{ :href => "./css/main.css", :media => "screen", :rel => "stylesheet" }
		%script{:type => 'text/javascript', :data => {:main => 'js/main'}, :src => 'js/require.js'}
		%script{:type => 'text/javascript', :src => 'js/vendor/soundcloud.js' }
	%body.no-scroll

		#loader
			#spinner.lasso
		#container.hidden

			%header
				#headerContainer.lasso
					#player
					#url
						<?php perch_content('Soundcloud Url'); ?>
					#socials
						%a{:href => 'https://soundcloud.com/rare-finds', :target => '_blank'}
							#soundcloud.socialLink
						%a{:href => 'https://twitter.com/rare_finds', :target => '_blank'}
							#twitter.socialLink
						%a{:href => 'https://www.facebook.com/RareFindsMusic', :target => '_blank'}
							#facebook.socialLink

			#content.lasso
				.panel#left
					#tagline.padding
						.lasso
							Rare Finds is a Record Label Based in Sydney.
					#nav.padding
						/nav links here
						.navLink.js-navLink{ :'data-context' => 'about-us'}
							.arrow
								.selector
							.linkName About Us
						.navLink.js-navLink{ :'data-context' => 'artists'}
							.arrow
								.selector
							.linkName Artists
						<?php perch_content_custom('Custom Pages', array('template'=>'_page_nav.html','sort-order'=>'DESC'));?>
						.navLink.js-navLink{ :'data-context' => 'contact-us'}
							.arrow
								.selector
							.linkName Contact Us
					#list
						%form.lasso.padding#js-emailForm{ :action => "http://rarefindsau.createsend.com/t/d/s/itdkj/", :method => "post", :target => "_blank" }
							%input#email{:type => 'email', :name => "cm-itdkj-itdkj", :spellcheck => 'false', :autocomplete => 'off', :placeholder => 'Get Updates'}
							#emailSubmit
								.arrow

				.panel#right
					#picture
						<?php perch_content_custom('About Us', array('template'=>'_page_pics.html','sort-order'=>'DESC'));?>

						<?php perch_content('Artists Header Image'); ?>
	
						<?php perch_content_custom('Custom Pages', array('template'=>'_page_pics.html','sort-order'=>'DESC'));?>

						<?php perch_content_custom('Contact Us', array('template'=>'_page_pics.html','sort-order'=>'DESC'));?>

						<?php perch_content_custom('Artists', array('template'=>'_artist_pics.html','sort-order'=>'DESC'));?>

					#content
						<?php perch_content('About Us'); ?>

						#artists.padding.panelContent.js-panelContent
							%h1 Artists
							<?php perch_content_custom('Artists', array('template'=>'_artist_nav.html','sort-order'=>'DESC'));?>

						<?php perch_content('Custom Pages'); ?>

						<?php perch_content('Contact Us'); ?>

						<?php perch_content('Artists'); ?>

			%footer
				#logo.lasso

			<?php perch_content('Analytics'); ?>