<div class='padding panelContent displayNone js-panelContent' id='about-us'>

	<h1>About Us</h1>
	<h2><perch:content id="paragraph" type="textarea" label="Paragraph" textile="true" editor="markitup" imagewidth="640" imageheight="480" /></h2>
	<img style="visibility:hidden;" href='<perch:content id="pagePic" type="image" label="Image" width="960" height="240" crop="true" help="Image must be 960px X 240px.  If a different size is uploaded, it will automatically crop to this size from the center." />' />
</div>	
