<div class='padding panelContent displayNone js-panelContent' id='theKiteStringTangle'>
  <h1>
    <perch:content id='artistName' label='Artist Name' type='text' />
  </h1>
  <h2>
    <perch:content id='artistBio' label='Artist Bio' type='text'></perch:content>
  </h2>
  <a href='https://www.facebook.com/RareFindsMusic' target='_blank'>
    <div class='navLink'>
      <div class='arrow'>
        <div class='selector'></div>
      </div>
      <div class='linkName'>Soundcloud</div>
    </div>
  </a>
</div>
